﻿﻿@model EntitesViewModel.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/LoginFiles/css/style.css">
    <script src="~/Content/LoginFiles/js/script.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Login Portal</title>
</head>
<body>
    <div>
        <div class="login-page">
            <div class="form">
                @{
                    if (ViewBag.error != null)
                    {
                        <b class="text-center" style="color:firebrick;height:20px;text-align:center;border:solid 2px">@ViewBag.error</b>
                    }
                }
                @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
                {

                    <p class="text-center" style="color:blueviolet;font-weight:bold;border:solid green">Student Information System</p><br />

                    <p style="color:maroon;font-weight:bold;float:left">Email:</p>
                    @Html.TextBoxFor(p => p.email, new { @class = "form-control", @required = "required", @placeholder = "Enter Email", @type = "email" })
                    <p style="color:maroon;font-weight:bold;float:left">Password:</p>                   
                    @Html.TextBoxFor(p => p.password, new { @class = "form-control", @required = "required", @placeholder = "Enter Password", @type = "password" })
                    
                    <button type="submit" value="submit" class="btn btn-success">Login</button>
                    @*<p class="message">Not registered? <a href="#">Create an account</a></p>*@
                }
            </div>
        </div>

    </div>
</body>
</html>
