﻿﻿@model EntitesViewModel.ViewModels.UniversityViewModel﻿
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>View Colleges</h1>
                </div>
                <hr />
                <p id="result1" style="color:red;font-weight:bold"></p>
                <div class="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        College Name
                                    </th>                                  
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                 @{int a = 1;}

                                @foreach (var item in Model.collegelist)
                                { 
                                <tr id="@item.college_id">
                                    <td>
                                        @a
                                @{a = a + 1;
                                }
                                    </td>
                                    <td>
                                        @item.college_name
                                    </td>
                                    <td>
                                        @item.address
                                    </td>
                                    <td>
                                        @item.citymodel.city_name
                                    </td>                                   
                                    <td>
                                        @item.stateviewmodel.state_name
                                    </td>
                                    <td>
                                        <a onclick="DeleteCollege(@item.college_id)" style="margin-right:15%;" class="btn btn-danger">
                                            <span class="menu-icon mdi mdi-delete"></span> Delete
                                        </a>
                                    </td>
                                    <td>
                                         <a href="@Url.Action("UpdateCollege", "Admin",new { id = item.college_id })" style="margin-right:15%;" class="btn btn-primary">
                                            <span class="menu-icon mdi mdi-update"></span> Update
                                        </a>
                                    </td>
                                </tr>
                                    
                                    
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteCollege(collegeid) {


        if (confirm("Are you sure you want to delete this College?")) {
            $.ajax({
                url: "@Url.Action("DeleteCollege", "Admin")",
                 type: "GET",
                 data: {
                     clg_id: collegeid
                 },
                 error: function () {
                     alert("Error");
                 },
                 beforeSend: function () {
                 },
                 success: function (data) {
                     $("#result").html("");
                     $("#result1").html(data);

                 }
             });
             $("#" + collegeid).remove();
        } return false;
       


    }
</script>