﻿﻿@model EntitesViewModel.ViewModels.CollegeViewModel
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body" style="border:solid ">
                <div class="text-center">
                    <h1>Departments in @Model.college_name</h1>
                </div>
                <hr />
                <p id="result1" style="color:red;font-weight:bold"></p>
                <div class="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Department Code
                                    </th>
                                    <th>
                                        Department Name
                                    </th>
                                    <th>
                                        Delete
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{int a = 1;}

                                @foreach (var item in Model.departmentlist)
                    {

                        <tr id="@item.department_id">
                            <td>
                                @a
                                @{a = a + 1;
                                }
                            </td>
                            <td>
                                @item.department_code
                            </td>


                            <td>
                                @item.department_name
                            </td>
                            <td>
                                <a onclick="DeleteDepartment(@Model.college_id,@item.department_id)" class="btn btn-danger">
                                    
                                    <span class="menu-icon mdi mdi-delete" aria-hidden="true"></span>
                                </a>
                            </td>

                        </tr>
        }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteDepartment(collegeid, departmentid) {
     
        if (confirm("Are you sure you want to delete this Department?")) {
            $.ajax({
                url: "@Url.Action("CollegeDepartmentDelete", "Admin")",
             type: "GET",
             data: {
                 clg_id: collegeid,
                 dep_id: departmentid
             },
             error: function () {
                 alert("Error");
             },
             beforeSend: function () {
             },
             success: function (data) {
                 $("#result").html("");
                 $("#result1").html(data);
                 $("#" + departmentid).remove();

             }
         });

        } return false;

       
       


    }
</script>