﻿﻿@model IEnumerable<EntitesViewModel.ViewModels.DepartmentViewModel﻿>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Department List</h1>
                </div>
                <hr />
                <p id="result1" style="color:red;font-weight:bold"></p>
                <div class="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Department Code
                                    </th>                                  
                                    <th>
                                        Department Name
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    <th>
                                        Update
                                    </th>

                                  
                                </tr>
                            </thead>
                            <tbody>
                                 @{int a = 1;}

                                @foreach (var item in Model)
                                { 
                                <tr id="@item.department_id">
                                    <td>
                                        @a
                                @{a = a + 1;
                                }
                                    </td>
                                    <td>
                                        @item.department_code
                                    </td>
                                    <td>
                                        @item.department_name
                                    </td> 
                                    <td>
                                        <a onclick="DeleteDepartment(@item.department_id)" style="margin-right:15%;"   class="btn btn-danger">
                                            <span class="menu-icon mdi mdi-delete"></span> Delete
                                        </a>
                                    </td>
                                    <td>
                                         <a href="@Url.Action("UpdateDepartment", "Admin",new { id = item.department_id})" style="margin-right:15%;" class="btn btn-primary">
                                            <span class="menu-icon mdi mdi-update"></span> Update
                                        </a>
                                    </td>                               
                                </tr>
                                    
                                    
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <label id="message"></label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function DeleteDepartment(depid) {

        if (confirm("Are you sure you want to delete this Department?")) {
            $.ajax({
                url: "@Url.Action("DeleteDepartment", "Admin")",
                type: "GET",
                data: {
                    dep_id: depid
                },
                error: function () {
                    alert("Error");
                },
                beforeSend: function () {
                },
                success: function (data) {
                    $("#result").html("");
                    $("#result1").html(data);
                    $("#" + depid).remove();

                }
            });

        }
        return false;



    }

</script>