﻿﻿@{
    /**/

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Information System</title>



    @Styles.Render("~/Content/css")
    
    <script src="~/Content/jquery.js"></script>

        


</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                @*<a class="" href="index.html">
                    <img src="~/Content/Theme_Files/images/logo.svg" alt="logo" />
                </a>*@
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="~/Content/Theme_Files/images/logo-mini.svg" alt="logo" />
                </a>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-center">



                @if (Convert.ToString(Session["Role"]) == "Student")
                {

                    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                        <li class="nav-item">
                            <a href="/Student/Index" class="nav-link">
                                <h4>Home</h4>

                            </a>
                        </li>

                    </ul>

                }
                else if (Convert.ToString(Session["Role"]) == "Admin")
                {
                    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                        <li class="nav-item">
                            <a href="/Admin/Index" class="nav-link">
                                <h4>Admin Home </h4>

                            </a>
                        </li>

                    </ul>

                }


                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Hello, @Session["Email"] !</span>
                            @*<img class="img-xs rounded-circle" src="~/Content/Theme_Files/images/student.jpg" alt="Profile image">*@
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            @if (Convert.ToString(Session["Role"]) == "Student")
                            {
                                <a class="dropdown-item mt-2" href="/Student/Index">
                                    Home
                                </a>
                                <a class="dropdown-item" href="/Student/ChangePassword">
                                    Change Password
                                </a>
                                <a class="dropdown-item" href="/Student/ViewHistory">
                                    My History
                                </a>
                                <a class="dropdown-item" href="/Login/LogOff">
                                    Sign Out
                                </a>
                            }
                            else
                            {

                                <a class="dropdown-item mt-2" href="/Admin/Index">
                                    Home
                                </a>
                                <a class="dropdown-item" href="/Admin/AddStudent">
                                    Add Student
                                </a>
                                <a class="dropdown-item" href="/Admin/ViewStudents">
                                    View Students
                                </a>
                                <a class="dropdown-item" href="/Login/LogOff">
                                    Sign Out
                                </a>

                            }


                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                @if (Convert.ToString(Session["Role"]) == "Student")
                {
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                            <div class="nav-link">
                                <div class="user-wrapper">
                                    @*<div class="profile-image">
                                            <img src="~/Content/Theme_Files/images/student.jpg" alt="profile image">
                                        </div>*@
                                    <div class="text-wrapper">
                                        <p class="profile-name">@Session["Email"]</p>
                                        <div>

                                            <small class="designation text-muted">@Session["Role"]</small>
                                            <span class="status-indicator online"></span>
                                        </div>
                                    </div>
                                </div>
                                @*<button class="btn btn-success btn-block">
                                        New Project
                                        <i class="mdi mdi-plus"></i>
                                    </button>*@
                            </div>
                        </li>
                        <li class="nav-item" style="">
                            <a class="nav-link" href="/Student/Index">
                                <i class="menu-icon mdi mdi-television"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Student/ViewHistory">
                                <i class="menu-icon mdi mdi-history"></i>
                                <span class="menu-title">View History</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Student/ChangePassword">
                                <i class="menu-icon mdi mdi-settings"></i>
                                <span class="menu-title">Change Password</span>
                            </a>
                        </li>
                        @* <li class="nav-item">
                                <a class="nav-link" href="/Student/ViewMySubjects">
                                    <i class="menu-icon mdi mdi-book"></i>
                                    <span class="menu-title">My Subjects</span>
                                </a>
                            </li>   *@
                    </ul>
                }
                else if (Convert.ToString(Session["Role"]) == "Admin")
                {
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                            <div class="nav-link">
                                <div class="user-wrapper">
                                    @*<div class="profile-image">
                                            <img src="~/Content/Theme_Files/images/student.jpg" alt="profile image">
                                        </div>*@
                                    <div class="text-wrapper">
                                        <p class="profile-name" style="color:brown">@Session["Email"]</p><hr />
                                        <div>
                                            <small class="designation text-muted text-center">Admin</small>
                                            <span class="status-indicator online"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" style="">
                            <a class="nav-link" href="/Admin/Index">
                                <i class="menu-icon mdi mdi-television"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/ViewStudents">
                                <i class="menu-icon mdi mdi-settings"></i>
                                <span class="menu-title">View Students</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/AddStudent">
                                <i class="menu-icon mdi mdi-settings"></i>
                                <span class="menu-title">Add Student</span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/Admin/AddCollege">
                                <i class="menu-icon mdi mdi-settings"></i>
                                <span class="menu-title">Add College</span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/Admin/AddDepartment">
                                <i class="menu-icon mdi mdi-settings"></i>
                                <span class="menu-title">Add Department</span>
                            </a>
                        </li>
                             <li class="nav-item">
                            <a class="nav-link" href="/Admin/CollegeDepartmentPortal">
                                <i class="menu-icon mdi mdi-settings"></i>
                                <span class="menu-title">College Department Portal</span>
                            </a>
                        </li>

                    </ul>
                }

            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2018
                            <a href="" target="_blank">StudentInfoSystem</a>. All rights reserved.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Developed by Shubham & Company
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</body>
</html>
<script src="~/Content/Theme_Files/vendors/js/vendor.bundle.base.js"></script>
<script src="~/Content/Theme_Files/vendors/js/vendor.bundle.addons.js"></script>
<script src="~/Content/Theme_Files/js/misc.js"></script>
<script src="~/Content/Theme_Files/js/off-canvas.js"></script>
<script src="~/Content/Theme_Files/js/dashboard.js"></script>
@*@Scripts.Render("~/bundles/vendor1")
    @Scripts.Render("~/bundles/vendor2")
    @Scripts.Render("~/bundles/js1")
    @Scripts.Render("~/bundles/js2")
    @Scripts.Render("~/bundles/js3")*@



