﻿﻿@model EntitesViewModel.ViewModels.ChangePasswordViewModel

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Change Password</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("ChangePassword", "Student", FormMethod.Post, new { id = "my-form", @class = "forms-sample" }))
                    {

                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control", @required = "required", @placeholder = "Enter your Email", @type = "email" })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Old Password</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.password, new { @class = "form-control", @required = "required", @placeholder = "Enter your Old Password", @type = "password" })

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">New Password</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.newpassword, new { @class = "form-control", @required = "required", @placeholder = "Enter your new password", @type = "password" })


                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">New Password Again</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.newpassword1, new { @class = "form-control", @required = "required", @placeholder = "Enter your new password again", @type = "password" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Change Password</button>
                        <p style="color:forestgreen" id="result"></p>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (data) {
                    $("#result").html(data);
                }
            });


        });



    });
</script>