﻿﻿@model EntitesViewModel.ViewModels.StudentViewModel
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-cube text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Current College</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.CollegeViewModel.college_name</h3>
                        </div>
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                    </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Current Sem</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.SemesterViewModel.sem_no</h3>
                        </div>
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales
                    </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-poll-box text-success icon-lg"></i>
                    </div>
                    <div class="float-none">
                        <p class="mb-0 text-right">Department</p><br /><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.DepartmentViewModel.department_name</h3>
                        </div>
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                    </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-account-location text-info icon-lg"></i>
                    </div>
                    <div class="float-none">
                        <p class="mb-0 text-right">University Joining Date:</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.enrollment_date.ToString("dd,MMMM yyyy")</h3>
                        </div>
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Product-wise sales
                    </p>*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Student Details</h1>
                </div>
                <hr />
                <div class="details">
                    <form class="form-sample">
                        @*<p class="card-description">
                                Personal info
                            </p>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.firstname</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.lastname</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.gender</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.dob.ToString("dd,MMMM yyyy")</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mobile Number</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.phone</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email ID</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.email</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<p class="card-description">
                                Address
                            </p>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Current Sem</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.SemesterViewModel.sem_no</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">College Name</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.CollegeViewModel.college_name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.DepartmentViewModel.department_name</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Enrollment Date:</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.enrollment_date.ToString("dd,MMMM yyyy")</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  