﻿﻿@model EntitesViewModel.ViewModels.StudentViewModel
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>View History</h1>
                </div>
                <hr />
                <div class="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        College Name
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Sem
                                    </th>
                                    <th>
                                        Log Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int a = 1;}

                                @foreach (var item in Model.StudentHistoryModelList)
                                {

                                    <tr>
                                        <td>
                                            @a
                                            @{a = a + 1;
                                            }
                                        </td>


                                        <td>
                                            @item.CollegeViewModel.college_name
                                        </td>
                                        <td>
                                            @item.DepartmentViewModel.department_name
                                        </td>
                                        <td>
                                            @item.SemesterViewModel.sem_no
                                        </td>
                                        <td>
                                            @{var temp = item.LogDate.ToString("dd MMMM yyyy");}

                                            @temp
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>