﻿﻿@model EntitesViewModel.ViewModels.CollegeViewModel


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Add College</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("AddCollege", "Admin", FormMethod.Post, new { @class = "forms-sample", @id = "my-form" }))
    {
              
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">College Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.college_name, new { @class = "form-control", @required = "required", @placeholder = "Enter College Name" })
                                @*@Html.ValidationMessageFor(model => model.TextBoxData) *@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select City</label>
                            <div class="col-sm-9">
                                 @Html.DropDownListFor(model => model.citymodel.city_id, ViewBag.city_id as SelectList, "Select City", htmlAttributes: new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">College Address</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.address, new { @class = "form-control", @required = "required", @placeholder = "Enter College Address" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">College Contact Number</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.contactno, new { @class = "form-control", @required = "required", @placeholder = "Enter Contact Number"})

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select State</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.stateviewmodel.state_id, ViewBag.state_id as SelectList, "Select State", htmlAttributes: new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select University</label>
                            <div class="col-sm-9">
                                 @Html.DropDownListFor(model => model.universitymodel.UniversityId, ViewBag.unilist as SelectList, "Select University", htmlAttributes: new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                    </div>
                </div>
                
                <p id="result" style="color:green"></p>
               

                @*<p class="card-description">
        Address
    </p>*@

                <div class="text-center">
                    <button type="submit" value="submit" class="btn btn-success">Add College</button>
                </div>
}
                </div><hr />
                <div id="partialview">

      </div>
            </div>
        </div>
    </div>
     
</div>

<script>
    $(document).ready(function () {
        Getlist();

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                
                success: function (data) {
                    $("#result").html(data);
                    $("#result1").html("");
                    Getlist();
                }
            });


        });



    });

    function Getlist() {

        $.ajax({
            url: "@Url.Action("CollegePartialList", "Admin")",
            type: "GET",
            error: function () {
            },
            beforeSend: function () {
            },
            success: function (data) {

                $("#partialview").html(data);

            }
        });

    }
</script>