﻿﻿@model EntitesViewModel.ViewModels.DepartmentViewModel


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Add Department</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("AddDepartment", "Admin", FormMethod.Post, new { @class = "forms-sample", @id = "my-form" }))
    {
              
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.department_name, new { @class = "form-control", @required = "required", @placeholder = "Enter Department Name" })
                                @*@Html.ValidationMessageFor(model => model.TextBoxData)*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department Code</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.department_code, new { @class = "form-control", @required = "required", @placeholder = "Enter Department Code" })

                            </div>
                        </div>
                    </div>
                </div>

       
                 <p id="result" style="color:green"></p>
               

   
                <div class="text-center">
                    <button type="submit" value="submit" class="btn btn-success">Add Department</button>
                </div>
}
                </div>
                <hr />
                <div id="partialview">

     </div>
            </div>
        </div>
    </div>
     
</div>

<script>
    $(document).ready(function () {
        Getlist();

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                
                success: function (data) {
                    $("#result").html(data);
                    Getlist();
                }
            });


        });



    });

    function Getlist() {

        $.ajax({
            url: "@Url.Action("DepartmentPartialList", "Admin")",
            type: "GET",
            error: function () {
            },
            beforeSend: function () {
            },
            success: function (data) {

                $("#partialview").html(data);

            }
        });

    }
</script>