﻿﻿@model EntitesViewModel.ViewModels.StudentViewModel


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Add Student</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post, new { @class = "forms-sample", @id = "my-form" }))
    {
                <p class="card-description">
                    Personal info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.firstname, new { @class = "form-control", @required = "required", @placeholder = "Enter First Name" })
                                @*@Html.ValidationMessageFor(model => model.TextBoxData)*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Middle Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.middlename, new { @class = "form-control", @required = "required", @placeholder = "Enter Middle Name" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.lastname, new { @class = "form-control", @required = "required", @placeholder = "Enter Last Name" })


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.dob, new { @class = "form-control", @required = "required", @placeholder = "Enter Date of Birth", @type = "date" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Male",
                        Value = "Male"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Female",
                        Value = "Female"

                    });

                                }
                                @Html.DropDownListFor(model => model.gender, listItems, "-- Select Gender --", htmlAttributes: new { @class = "form-control", @required = "required" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control", @required = "required", @placeholder = "Enter Email", @type = "email" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile Number (+91)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.phone, new { @class = "form-control", @required = "required", @placeholder = "Enter Phone Number" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Street Address</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.address, new { @class = "form-control", @required = "required", @placeholder = "Enter your Address" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">

                                @Html.DropDownListFor(model => model.Cityviewmodel.city_id, ViewBag.city_id as SelectList, "Select City", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.Stateviewmodel.state_id, ViewBag.state_id as SelectList, "Select State", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Semester No.</label>
                            <div class="col-sm-9">

                                @Html.DropDownListFor(model => model.SemesterViewModel.sem_id, ViewBag.sem_id as SelectList, "Select Semester", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department</label>
                            <div class="col-sm-9">

                                @Html.DropDownListFor(model => model.DepartmentViewModel.department_id, ViewBag.department_id as SelectList, "Select Department", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">College</label>
                            <div class="col-sm-9">

                                @Html.DropDownListFor(model => model.CollegeViewModel.college_id, ViewBag.college_id as SelectList, "Select College", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Enrollment Date</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.enrollment_date, new { @class = "form-control", @required = "required", @placeholder = "Enter Enrollment Date", @type = "date" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role Type</label>
                            <div class="col-sm-9">

                                @Html.DropDownListFor(model => model.RoleViewModel.role_id, ViewBag.role_id as SelectList, "Select Role", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                </div>
                <p id="result" style="color:green"></p>
               

                @*<p class="card-description">
        Address
    </p>*@

                <div class="text-center">
                    <button type="submit" value="submit" class="btn btn-success">Add Student</button>
                </div>
}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                
                success: function (data) {
                    $("#result").html(data);
                }
            });


        });



    });
</script>