﻿﻿@model EntitesViewModel.ViewModels.CollegeDepartmentHelperPortal


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>College Department Portal</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("CollegeDepartmentPortal", "Admin", FormMethod.Post, new { @class = "forms-sample", @id = "my-form" }))
    {
                <p class="card-description text-center font-weight-bold">
                    Add Department in the Master College
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select College</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.collegeViewModel.college_id, ViewBag.CollegeList as SelectList, "Select College", htmlAttributes: new { @class = "form-control", onchange = "Getlist();", @id = "college_id" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Select Department</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.departmentViewModel.department_id, ViewBag.DepartmentList as SelectList, "Select Department", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>


                <p id="result" style="color:green;font-weight:bold"></p>
                <p id="result_failed" style="color:green"></p>

         

                <div class="text-center">
                    <button type="submit" value="submit" class="btn btn-success">Add Department</button>
                </div>

}                       <br /><br />
                    <div id="partialview">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),

                success: function (data) {
                    Getlist();
                    $("#result").html(data);
                    $("#result1").html("");
                }
            });


        });



    });

    function Getlist() {
        //$("#partialview").load("/shared/_Projectlist.cshtml");

        $.ajax({
            url: "@Url.Action("CollegeDepartmentPartialList", "Admin")",
        type: "GET",
        data: {
            college_id: $("#college_id").val()
        },
        error: function () {
        },
        beforeSend: function () {
        },
        success: function (data) {

            $("#partialview").html(data);

        }
    });

}
</script>