﻿﻿@model EntitesViewModel.ViewModels.UniversityViewModel﻿
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-cube text-danger icon-lg"></i>
                    </div>
                    <div class="float-none">
                        <p class="mb-0 text-right">University Name</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.UniversityName</h3>
                        </div>
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                    </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-none">
                        <p class="mb-0 text-right">Number of Colleges</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.collegelist.Count()</h3>
                        </div>
                    </div>
                </div>
                @*<p class="text-muted mt-3 mb-0">
                        <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales
                    </p>*@
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-poll-box text-success icon-lg"></i>
                    </div>
                    <div class="float-none">
                        <p class="mb-0 text-right">No of Students</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.number_of_students</h3>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-account-location text-info icon-lg"></i>
                    </div>
                    <div class="float-none">
                        <p class="mb-0 text-right">Founder Name</p><br />
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">@Model.founder</h3>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>View Colleges</h1>
                </div>
                <hr />
                <div class="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        College Name
                                    </th>                                  
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                 @{int a = 1;}

                                @foreach (var item in Model.collegelist)
                                { 
                                <tr>
                                    <td>
                                        @a
                                @{a = a + 1;
                                }
                                    </td>
                                    <td>
                                        @item.college_name
                                    </td>
                                    <td>
                                        @item.address
                                    </td>
                                    <td>
                                        @item.citymodel.city_name
                                    </td>                                   
                                    <td>
                                        @item.stateviewmodel.state_name
                                    </td>
                                </tr>
                                    
                                    
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>