﻿﻿@model EntitesViewModel.ViewModels.StudentViewModel

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Delete Student Details</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("StudentDelete", "Admin", FormMethod.Post, new { @class = "forms-sample", @id = "my-form" }))
                    { 
                        @Html.HiddenFor(model => model.student_id)
                        @Html.HiddenFor(model => model.address)
                        @Html.HiddenFor(model => model.Cityviewmodel)
                        @Html.HiddenFor(model => model.CollegeViewModel)
                        @Html.HiddenFor(model => model.DepartmentViewModel)
                        @Html.HiddenFor(model => model.dob)
                        @Html.HiddenFor(model => model.email)
                        @Html.HiddenFor(model => model.enrollment_date)
                        @Html.HiddenFor(model => model.firstname)
                        @Html.HiddenFor(model => model.fullname)
                        @Html.HiddenFor(model => model.gender)
                        @Html.HiddenFor(model => model.lastname)
                        @Html.HiddenFor(model => model.middlename)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.phone)
                        @Html.HiddenFor(model => model.RoleViewModel)
                        @Html.HiddenFor(model => model.SemesterViewModel)
                        @Html.HiddenFor(model => model.Stateviewmodel)                       
                        @Html.HiddenFor(model => model.StudentHistoryModelList)
                     
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        @*<h3>@Model.firstname</h3>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.lastname</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.gender</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.dob.ToString("dd,MMMM yyyy")</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mobile Number</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.phone</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email ID</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.email</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<p class="card-description">
                                Address
                            </p>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Current Sem</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.SemesterViewModel.sem_no</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">College Name</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.CollegeViewModel.college_name</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.DepartmentViewModel.department_name</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Enrollment Date:</label>
                                    <div class="col-sm-9">
                                        <h3>@Model.enrollment_date.ToString("dd,MMMM yyyy")</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p id="result" class="" style="color:green;font-weight:bolder"></p>         

                <div class="text-center">
                    <button type="submit" value="submit" class="btn btn-success">Delete Student</button>
                </div>

                   
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>  
<script>
    $(document).ready(function () {

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (data) {
                    $("#result").html(data);
                }
            });


        });



    });
</script>