﻿﻿@model EntitesViewModel.ViewModels.DepartmentViewModel


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>Update College</h1>
                </div>
                <hr />
                <div class="details">
                    @using (Html.BeginForm("UpdateDepartment", "Admin", FormMethod.Post, new { @class = "forms-sample", @id = "my-form" }))
    {
                @Html.HiddenFor(model => model.department_id)
                <p class="card-description">
                    Personal info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(p => p.department_name,new { @class = "form-control", @required = "required", @placeholder = "Enter Department Name" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department Code</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.department_code, new { @class = "form-control", @required = "required", @placeholder = "Enter Department Code" })

                            </div>
                        </div>
                    </div>
                </div>
                       
                

                
                <p id="result" style="color:green"></p>         

                <div class="text-center">
                    <button type="submit" value="submit" class="btn btn-success">Update Department</button>
                </div>
}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#my-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (data) {
                    $("#result").html(data);
                }
            });


        });



    });
</script>