﻿﻿@model IEnumerable<EntitesViewModel.ViewModels.StudentViewModel>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center">
                    <h1>View Students</h1>
                </div>
                <hr />
                <div class="details">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        College
                                    </th>
                                    <th>
                                        Current Sem
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                    <th>
                                        View History
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int a = 1;}
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @a
                                        @{a = a + 1;}

                                    </td>                            
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.gender
                                    </td>
                                    <td>
                                        @item.email
                                    </td>
                                    <td>
                                        @item.phone
                                    </td>
                                    <td>
                                        @item.CollegeViewModel.college_name
                                    </td>
                                    <td>
                                        @item.SemesterViewModel.sem_no
                                    </td>
                                    <td>
                                        @item.DepartmentViewModel.department_name
                                    </td>
                                    <td>
                                        <a href="@Url.Action("StudentDelete", "Admin", new { id = item.student_id })" style="margin-right:15%;" class="btn btn-danger">
                                            <span class="menu-icon mdi mdi-delete"></span> Delete
                                        </a>                                       
                                        
                                    </td>
                                    <td>
                                        <a href="@Url.Action("StudentUpdate", "Admin",new { id = item.student_id })" style="margin-right:15%;" class="btn btn-primary">
                                            <span class="menu-icon mdi mdi-update"></span> Update
                                        </a>

                                    </td>
                                    <td>
                                        <a href="@Url.Action("StudentHistory", "Admin",new { id = item.student_id })" style="margin-right:15%;" class="btn btn-info">
                                            <span class="menu-icon mdi mdi-history"></span> View History
                                        </a>

                                    </td>
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>